<lx-dialog id="{{ vm.dialogId }}">
    <lx-dialog-header>
        <div class="toolbar pl++ bgc-indigo-A100 {{ elemento.tipo.clase }}">
            <span class="toolbar__label tc-white fs-title">
                {{ elemento.nombre }}
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" lx-dialog-close>
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>
 
        <lx-tabs lx-panes-id="lorem-ipsum"
                 lx-links="[{label: 'Detalles'}, {label: 'Función'}, {label: 'Impacto Ambiental'}]"
                 lx-layout="inline"
                 lx-color="primary"
                 lx-indicator="primary"></lx-tabs>
    </lx-dialog-header>
 
    <lx-dialog-content>
        <lx-tabs-panes id="lorem-ipsum">
            <lx-tab-pane>
                <div class="p+ tc-black-2">

                    <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <div><small>N° Atomico:</small></div>
                            <div>{{ elemento.atomo }}</div>
                        </div>
                        <div flex-item>
                            <div><small>N° de Oxidación:</small></div>
                            <div>{{ elemento.oxidacion }}</div>
                        </div>
                        <div flex-item>
                            <div><small>Simbolo:</small></div>
                            <div>{{ elemento.simbolo }}</div>
                        </div>
                   </div>

                   <div class="divider divider--dark mt mb"></div>

                   <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <div><small>Masa:</small></div>
                            <div>{{ elemento.masa }}</div>
                        </div>
                        <div flex-item>
                            <div><small>N° de electrones:</small></div>
                            <div>{{ elemento.electrones }}</div>
                        </div>
                        <div flex-item>
                            <div><small>Tipo:</small></div>
                            <div>{{ elemento.tipo.nombre }}</div>
                        </div>
                    </div>

                    <div class="divider divider--dark mt mb"></div>

                    <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <div><small>Subtipo:</small></div>
                            <div>{{ elemento.subtipo.nombre }}</div>
                        </div>
                        <div flex-item>
                            <div><small>Estado:</small></div>
                            <div>{{ elemento.estado.nombre }}</div>
                        </div>
                        <div flex-item ng-if="elemento.serie">
                            <div><small>Serie:</small></div>
                            <div>{{ elemento.serie.nombre }}</div>
                        </div>
                        <div flex-item ng-if="elemento.grupo">
                            <div><small>Grupo:</small></div>
                            <div>{{ elemento.grupo.nombre }} ({{ elemento.grupo.numero }})</div>
                        </div>
                     </div>
                        
                    <div class="divider divider--dark mt mb"></div>

                    <div flex-container="row" flex-gutter="24">
                        <div flex-item>
                            <div><small>Bloque:</small></div>
                            <div>{{ elemento.bloque.letra }} ({{ elemento.bloque.nombre }})</div>
                        </div>
                        <div flex-item>
                            <div><small>Periodo:</small></div>
                            <div>{{ elemento.periodo.nombre }}</div>
                        </div>
                        <div flex-item>
                            <div><small>Nivel de energia:</small></div>
                            <div>{{ elemento.periodo.energia }}</div>
                        </div>
                    </div>
                </div>
            </lx-tab-pane>
 
            <lx-tab-pane>
                <div class="p++">
                    <p>Lorem Ipsum Content 2</p>
                </div>
            </lx-tab-pane>
 
            <lx-tab-pane>
                <p class="p++">Lorem Ipsum Content 3</p>
            </lx-tab-pane>
        </lx-tab-panes>
    </lx-dialog-content>
</lx-dialog>