<div flex-container="row" flex-align="center">
	<div flex-item="10" class="p+">
		<h2>Descripci&oacute;n General</h2>
		<p>El aprendizaje de los elementos de la tabla peri&oacute;dica en la asignatura de qu&iacute;mica en uno de los mayores retos que tienen los estudiantes desde 3ro de secundaria pasando por el nivel medio superior y superior, ya que manejar la gran cantidad de informaci&oacute;n en un libro o documento plano problematiza a&uacute;n m&aacute;s este aprendizaje, aunado a que conocer sus usos e impacto ambiental requiere buscar en otras fuentes, adem&aacute;s de que la actualidad el uso de las tecnolog&iacute;as de la informaci&oacute;n son herramientas de uso frecuente y podr&iacute;amos decir que hasta indispensable a todos niveles educativos principalmente adolescentes y j&oacute;venes.</p>
		<p>&nbsp;</p>
		<h2>Objetivo</h2>
		<p>Facilitar el aprendizaje en los estudiantes, de los elementos de la tabla peri&oacute;dica, su uso e impacto ambiental mediante un software amigable.</p>
		<p>&nbsp;</p>
		<h2>Descripci&oacute;n general de la innovaci&oacute;n</h2>
		<p>Es una aplicaci&oacute;n web que contiene informaci&oacute;n de todos los elementos de la tabla peri&oacute;dica actualizados, su impacto ambiental y sus usos.</p>
		<p>&nbsp;</p>
		<h2>Resultados que se pretenden alcanzar con el desarrollo del proyecto</h2>
		<p>Dar a conocer los detalles b&aacute;sicos de los elementos de la tabla peri&oacute;dica, de una manera m&aacute;s did&aacute;ctica y sencilla.</p>
	</div>
</div>