<div flex-container="row" flex-align="center">
	<div flex-item="10" class="p+">
		<div class="fs-title mb++">Lorem Ipsum</div>
		<p class="mb+">	
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic commodi sint nemo voluptatum magni, at, voluptatem earum. Sapiente, dicta nulla tempore aperiam libero placeat, similique magni numquam maiores perspiciatis.
		</p>
		<p class="mb+">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo eligendi soluta aliquid architecto vitae tempora nobis voluptates molestias laborum. Reprehenderit asperiores quia fugiat ad possimus doloremque odit esse ipsa non.
		</p>
		<p class="mb+">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam velit eveniet asperiores error laudantium explicabo expedita, voluptates quibusdam? Eius quae deleniti corrupti sunt itaque nisi animi tempora mollitia maxime.
		</p>
		<p class="mb+">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, excepturi atque facilis ad eligendi saepe similique ut blanditiis! Labore error laudantium deleniti reiciendis amet non quas ipsum quae iure animi.
		</p>
	</div>
</div>