<div flex-container="row" flex-column="12">
    <aside flex-item="2">
        <ng-include src="'templates/partials/sidebarLeft.html'"></ng-include>
    </aside>

    <main flex-item="8">
        <div class="p+">

            <div style="position: relative;">
                <lx-progress lx-type="circular" lx-diameter="75" ng-if="vm.loading"></lx-progress>
                <div ng-show="vm.error && !vm.loading">
                    <div class="p+ bgc-white">No se encontraron resultados <span class="fs-title">:(</span></div>
                </div>
            </div>

            <div ng-hide="vm.loading || vm.error" class="animated">
            	<div ng-switch on="vm.clasificacion">

            		<div ng-switch-when="todos" ng-controller="ElementosCtrl">
            			<div class="toolbar bgc-white">
                            <lx-search-filter>
                                <input type="text" ng-model="vm.search" placeholder="Escribe el nombre del elemento">
                            </lx-search-filter>
            		    </div>
            		    <div class="p+">
            		    	<ng-include src="'templates/partials/elementos.html'"></ng-include>
            		    </div>
            		</div>

            		<div ng-switch-when="tipos" ng-controller="TiposCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            		<div ng-switch-when="subtipos" ng-controller="SubtiposCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            		<div ng-switch-when="estados" ng-controller="EstadosCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            		<div ng-switch-when="series" ng-controller="SeriesCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            		<div ng-switch-when="grupos" ng-controller="GruposCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            		<div ng-switch-when="bloques" ng-controller="BloquesCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            		<div ng-switch-when="periodos" ng-controller="PeriodosCtrl">
            			<ng-include src="'templates/partials/clasificaciones.html'"></ng-include>
            		</div>

            	</div>
            </div>

        </div>
    </main>

    <section flex-item="2">
        <ng-include src="'templates/partials/sidebarRight.html'"></ng-include>
    </section>
</div>

<!-- Dialogo -->
<ng-include src="'templates/partials/detalles-elemento.html'"></ng-include>